// Gruvbox dark theme variables
@body-bg: #282828;
@text-color: #EBDBB2;
@secondary-text: #928374;

@kbd-bg: #3C3836;
@kbd-border: #504945;

@container-bg: #282828;
@border-color: #3C3836;
@column-border: #32302F;

@header-bg: #32302F;
@header-border: #3C3836;

@item-border: #32302F;
@item-hover-bg: #32302F;
@item-selected-bg: #3C3836;

@doc-string-size: 10pt;
@doc-string-color: #928374;
@link-color: #83A598;

@chevron-color: #928374;

@overlay-bg: rgba(0, 0, 0, 0.6);
@dialog-bg: #32302F;
@dialog-shadow: rgba(0,0,0,0.5);

@input-border: #3C3836;
@input-bg: #282828;
@input-text: #EBDBB2;

@search-item-hover: #3C3836;

@scrollbar-thumb: #504945;
@scrollbar-track: #282828;

@import "app.less";
